#user-list {
    display: table;
    margin: 0 auto;
    margin-top: 80px;
    width: 60%;
}

hr {
    height: 1px;
    border: none;
    background-color: black;
    margin-top: 4px;
}

.inline {
    float: left;
    padding: 1px;
    position: relative;
    width: auto;
}

.user {
    clear: both;
}

.color {
    width: 40px;
    height: 20px;
    margin: 2px;
    padding: 0;
}

.icon {
    width: 30px;
    text-align: center;
}

img.icon-reload {
    margin: top;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.user-id {
    width: 24px;
    text-align: right;
}